

.form-container{
  display: inline-block;

  padding: 20px;
  }

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  margin: 20px;
}

.cloud-item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 20px;
}